.idea
.venv
__pycache__
__pycache__/
git-hub
https
server.key
server.csr
server.crt
server.cnf
test.py
try.py
.env
Tiktok
test_query.py
server.pfx
user_report.pdf
output.pdf
styled_pdf_example.pdf
fonts
test_query.pdf
Analysis.pdf
database/pdf_db
test_new_logic.py